= simple_form_for :contact_form, url: messages_path, method: :post do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: I18n.t(".views.messages.name_label")
    = f.input :email, label: I18n.t("views.messages.email_address_label")
    = f.input :message, label: I18n.t(".views.messages.message_label"), as: :text

  .form-actions
    = f.submit I18n.t("views.messages.submit_button_title"), class: "button"
