<div class="container">
  <article class="content">
    <h2>
      <%= t('.title', default: 'Resend confirmation instructions') %>
    </h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, required: true, autofocus: true %>
      </div>
      <div>
        <%= f.submit t('.submit', default: 'Resend confirmation instructions'), class: 'button' %>
      </div>
    <% end %>
  </article>
  <%= render 'devise/shared/links' %>
</div>
