.container
  %article.content
    %h2= t('.title', default: "Resend confirmation instructions")
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      %div
        = f.label :email
        %br/
        = f.email_field :email, required: true, autofocus: true
      %div= f.submit t('.submit', default: "Resend confirmation instructions"), class: 'button'

  = render "devise/shared/links"
