<main>
  <div class="container">
    <article class="content">
      <a name="questions"></a>
      <h2>
        <%= t('views.faqs.faq_header', default: 'The most frequently asked questions') %>
      </h2>
      <p>
        <%= t('views.faqs.faq_header_long') %>
      </p>
      <div class="questions">
        <ul>
          <% @faqs.each do |faq| %>
              <li>
                <%= link_to faq.question, '#faq_' + faq.id.to_s %>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="answers">
        <% @faqs.each do |faq| %>
            <div class="editors">
              <a name="faq_<%= faq.id %>"></a>
              <h3>
                <%= faq.question %>
              </h3>
              <%= content_tag(:div, layout_render_markdown(faq.answer).html_safe, class: 'answer') %>
              <%= link_to '&#x2191;&nbsp;'.html_safe + t('views.faqs.back_to_questions'), '#questions' %>
            </div>
        <% end %>
      </div>
    </article>
  </div>
</main>