.container
  %article.content
    %a{:name => 'questions' }
    %h2
      = t('views.faqs.faq_header', default: 'The most frequently asked questions')
    %p
      = t('views.faqs.faq_header_long')
    .questions
      %ul
        - @faqs.each do |faq|
          %li= link_to faq.question, '#faq_' + faq.id.to_s
    .answers
      - @faqs.each do |faq|
        %div{:class => 'entry'}
          %a{:name => "faq_#{faq.id}" }
          %h3
            = faq.question
          = content_tag(:div, layout_render_markdown(faq.answer).html_safe, class: 'answer')
          = link_to '&#x2191;&nbsp;'.html_safe + t('views.faqs.back_to_questions'), '#questions'
