Von: #{@message.name} <#{@message.email}>
An: #{@recipient.name} <#{@recipient.email}>
Pfad: #{place_details_address(@place.id)}
\
\
#{@message.message}
\
\
\-----
Diese Nachricht wurde über die Webseite www.ernte-teilen.org versandt.
Du erhälst diese Nachricht, weil deine E-Mail-Adresse als Kontakt-E-Mail-Adresse
angegeben wurde. Solltest du irrtümlich adressiert worden sein, ändere bitte
die Kontakt-E-Mail-Adresse auf der Webseite, wenn möglich. Alternativ kannst
du diese Nachricht an #{ENV["EMAIL_SENDER_ADDRESS"]} weiterleiten.
Wir kümmern uns dann um die notwendigen Änderungen.
\
Das Ernte teilen Team.
