.place_message
  %ul{style: 'padding: 1em; list-style: none; background: #f5f5f5;'}


    - # Message header
    %li{style: 'margin: 0;'}
      %span.header_attribute{style: 'min-width: 3em; display: inline-block; font-weight: bold;'}
        Von:
      %span
        "#{@message.name}" &lt;#{@message.email}&gt;
    %li{style: 'margin: 0;'}
      %span.header_attribute{style: 'min-width: 3em; display: inline-block; font-weight: bold;'}
        An:
      %span
        "#{@recipient.name}" &lt;#{@recipient.email}&gt;
    %li{style: 'margin: 0;'}
      %span.header_attribute{style: 'min-width: 3em; display: inline-block; font-weight: bold;'}
        Pfad:
      %span= place_details_address(@place.id)


  - # Message body
  %p.message_body= @message.message

  - # Disclaimer
  .message_disclaimer{style: 'font-size: 0.75em; color: #a3a3a3;'}
    %br/
    %hr{color: '#a3a3a3', height: '1px', noshade: 'noshade'}/
    %p
      Diese Nachricht wurde über die Webseite #{@user.origin} versandt.
      Du erhälst diese Nachricht, weil deine E-Mail-Adresse als Kontakt-E-Mail-Adresse
      angegeben wurde. Solltest du irrtümlich adressiert worden sein, ändere bitte
      die Kontakt-E-Mail-Adresse auf der Webseite, wenn möglich. Alternativ kannst
      du diese Nachricht an #{ENV['EMAIL_SENDER_ADDRESS']} weiterleiten.
      Wir kümmern uns dann um die notwendigen Änderungen.
