= form_for @contact_message do |f|
  = f.label I18n.t(".views.messages.name_label")
  %br
  = f.text_field :name
  %br
  = f.label I18n.t("views.messages.email_address_label")
  %br
  = f.text_field :email
  %br
  = f.label I18n.t(".views.messages.message_label")
  %br
  = f.text_area :message
  %br
  = f.submit I18n.t("views.messages.submit_button_title"), class: "button"
