<div class="container">
  <h2>
    <%= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}') %>
  </h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <fieldset>
      <div class="form-inputs">
        <%= devise_error_messages! %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div>
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
        <div>
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => 'off' %>
          <p class="form-explanation">
            (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
          </p>
        </div>
        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div>
          <%= f.label :current_password %>
          <%= f.password_field :current_password %>
          <p class="form-explanation">
            (#{t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes')})
          </p>
        </div>
      </div>
      <div class="form-actions">
        <%= f.submit t('.submit', :default => 'Update'), class: 'button' %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="container">
  <h2>
    <%= t('.cancel_my_account', :default => 'Cancel my account') %>
  </h2>
  <p>
    <%= t('.unhappy', :default => 'Unhappy') %>
    <%= link_to t('.cancel_my_account', :default => 'Cancel my account'), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => 'Are you sure?') }, :method => :delete %>
    \.
  </p>
</div>
