<div class="container">
  <article class="content">
    <h2>
      <%= t('.title', :default => 'Sign up') %>
    </h2>
    <p>
      Mit deiner Registrierung akzeptierst du die
      <%= link_to t('.terms_menu_item', default: ' Nutzungsbedingungen'), terms_path, title: t('.terms_menu_item_title', default: 'Click here to review the terms and conditions.') %>
      dieser Plattform.
    </p>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <fieldset>
        <div class="form-inputs">
          <%= devise_error_messages! %>
          <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div>
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
          <div>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
          </div>
          <div>
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="form-actions">
          <div>
            <%= f.submit t('.sign_up', :default => 'Sign up'), class: 'button' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </article>
  <%= render 'devise/shared/links' %>
</div>
