.container
  %article.content
    %h2= t('.title', default: "Change your password")
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      %div
        = f.label :password, t('.new_password', :default => 'New password')
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation, t('.confirm_new_password', :default => 'Confirm new password')
        %br/
        = f.password_field :password_confirmation
      %div= f.submit t('.change_my_password', :default => 'Change my password')
    = render "devise/shared/links"
