%footer
  = "© 2012-#{Time.now.year}"
  ernte-teilen.org –
  = link_to 'some rights reserved', imprint_path(:anchor => 'license')

  %ul
    %li
      = link_to t('.contact_menu_item', default: 'Contact'), contact_path, title: t('.contact_menu_item_title', default: 'Click here to write a message.')
    %li
      = link_to t('.terms_menu_item', default: 'Terms & Conditions'), terms_path, title: t('.terms_menu_item_title', default: 'Click here to review the terms and conditions.')
