#navigation.main-navigation

  %nav.page-nav
    %ul
      %li.page-nav-home.active= link_to 'Startseite', '/'
      %li.page-nav-faq= link_to 'Häufig gestellte Fragen', '/faq'
      %li.page-nav-about= link_to 'Über diese Website', '/about'

  %nav.user-nav
    %ul
      %li.user-nav-login= link_to 'Anmeldung', '/login'
      %li.user-nav-contact= link_to 'Kontakt / Feedback', '/contact'

