#navigation.main-navigation

  %nav.page-nav
    %ul
      - @nav_items.each do |ni|
        %li{class: ni[:style]}= link_to t(ni[:title]), ni[:path]

  %nav.user-nav
    %ul
      %li#user-menu.user-nav-settings
        - unless user_signed_in?
          .user-nav-main
            = link_to(t('nav.login'), new_user_session_path(), id: "signin")
        - else
          #user-menu-toggle.user-nav-toggle.user-nav-main{:"data-dropdown-target" => "#user-menu-dropdown"}
            = link_to(current_user.name, "#user-menu-dropdown")
          %ul#user-menu-dropdown.dropdown
            %li.user-nav-account
              = link_to edit_user_registration_path, title: t('.edit_user_title', default: 'Click here to edit your account.') do
                = t('.edit_user', default: 'Edit account')
            %li.user-nav-signout
              = link_to destroy_user_session_path, method: 'delete', title: t('.sign_out_title', default: 'Click here to sign out.') do
                = t('.sign_out', default: 'Sign out')

      %li.user-nav-contact= link_to t('nav.contact'), contact_path()
