<% content_for :hero do %>
    <%= render 'shared/hero' %>
<% end %>

<main class="main">
  <div class="container">
    <article class="content">
      <h1>
        <%= @intro_block.title %>
      </h1>
      <%= layout_render_textblock @intro_block %>
    </article>
    <aside class="sidebar">
      <div class="info">
        <h2>
          <%= @howitworks_block.title %>
        </h2>
        <%= image_tag 'share.jpg' %>
        <%= layout_render_textblock @howitworks_block %>
      </div>
    </aside>
  </div>
</main>
