#map-container
  .container
    #alert-container
    #controls-container.custom-controls
  #map
#modal-container.modals

- content_for :footer do
  %footer.map-footer
    = render 'shared/footer'
    = t('mapdata')
    %a{:href => 'https://www.mapbox.com/about/maps/'}MapBox / OpenStreetMap

- content_for :javascript do
  = javascript_include_tag "map"
  - if Rails.env.development?
    = javascript_include_tag "http://localhost:8888/assets/client_bundle.js"
  - else
    = javascript_include_tag "/assets/client_bundle.js"
  - if signed_in?
    :javascript
      Teikei.currentUser = new Entities.UserSession(#{current_user.to_json.html_safe});
  - else
    :javascript
      Teikei.currentUser = null;
  :javascript
    Teikei.start();
