#map-container
  .container
    #alert-container
    #controls-container.custom-controls
  #map
#modal-container.modals

- content_for :head do
  - unless Rails.env.development?
    = stylesheet_link_tag 'map', media: 'all'

- content_for :footer do
  %footer.map-footer
    = render 'shared/footer'
    = t('mapdata')
    %a{:href => 'https://www.mapbox.com/about/maps/'}MapBox / OpenStreetMap

- content_for :javascript do
  :javascript
    // TODO get rid of LEGACY Globals
    Teikei = {}
    Entities = {}
    Base = {}
    Alert = {}
    Places = {}
    MarkerIcon = {}
    PlacesList = {}
    User = {}
    Backbone = {}
    Marionette = {}
    _ = {}
  = javascript_include_tag 'map_templates'
  - if Rails.env.development?
    = javascript_include_tag '/static/js/map.js'
  - else
    = javascript_include_tag 'map'
  - if signed_in?
    :javascript
      Teikei.currentUser = new Entities.UserSession(#{current_user.to_json.html_safe});
  - else
    :javascript
      Teikei.currentUser = null;
  :javascript
    Teikei.start();
