.row
  .twelve.columns

    %h2 Über Ernte teilen

    %p
      Unser Projekt bringt Bürger und Bauernhöfe enger zusammen. #{em "Ernte teilen"} ist eine digitale Plattform für Menschen, die sich an Solidarischer Landwirtschaft (#{em "Community Supported Agriculture: CSA"}) beteiligen möchten. Hintergrund-Informationen zu Solidarischer Landwirtschaft gibt es auf der #{a "Webseite des Netzwerks <em>Solidarische Landwirtschaft</em>", "Netzwerk Solidarische Landwirtschaft", "http://www.solidarische-landwirtschaft.org"}.
    %p
      Die Gründung einer #{abbr "CSA", "Community Supported Agriculture"}-Initiative ist aufwändig und langwierig, da keine Plattform existiert, die interessierte Verbraucher und Lebensmittelerzeuger zusammenbringt. Neue Initiativen entstehen bisher vor allem durch Mund-zu-Mund-Propaganda und persönliche Kontakte.
      %br
      Ernte teilen ermöglicht es mehr Menschen, sich an #{abbr "CSA", "Community Supported Agriculture"} zu beteiligen. Das Kernstück der Webanwendung ist eine interaktive Karte aller deutschen #{abbr "CSA", "Community Supported Agriculture"}-Projekte. Auf dieser können sich bestehende Stadtgruppen präsentieren, um so neue Mitglieder zu finden. Zudem dient die Karte als Plattform für Landwirte und engagierte Bürger, die neue Initiativen gründen möchten.

    %h2 Das Team

    %figure.team-foto
      %img{src: "assets/stadtlandcode-republica-2013.jpg", alt: "Gruppenfoto der Stadt Land Code-Projekte auf der re:publica 2013", title: "Gruppenfoto der Stadt Land Code-Projekte auf der re:publica 2013"}
        %figcaption
          Gruppenfoto der Stadt Land &lt;Code&gt;-Projekte auf der re:publica 2013
          %small Foto: #{a "Open Knowledge Foundation Deutschland", "Open Knowledge Foundation Deutschland", "http://okfn.de"}

    %ul.team-members
      %li
        %span
          Simon Jockers
        %p
          Simon arbeitet tagsüber als Softwareentwickler bei einem Internet-Startup. Nach Feierabend kümmert er sich um die Benutzeroberfläche von
          %em Ernte teilen.
      %li
        %span
          Christian Rijke
        %p
          Augue hac augue nisi, ac! Proin dolor placerat, cum, placerat velit, sociis parturient? Arcu pellentesque dis phasellus auctor in, vel ultricies risus ultrices placerat est a? Dolor, proin augue..
      %li
        %span
          Tobias Preu&szlig;
        %p
          Tobias hat Medieninformatik studiert und lebt jetzt in Berlin. Er arbeit als Anwendungsentwickler und verwirklicht eigene Ideen im Bereich Open Data und Visualisierung.
      %li
        %span
          Charis Braun
        %p
          Charis ist Agrar- und Ernährungswissenschaftlerin und beschäftigt sich mit landwirtschaftlichen Diversifizierungsstrategien. Sie bereichert das Team mit ihrer fachlichen Unterstützung.

    %h2.references Partner und Förderer

    %p
      Mit einem ersten Konzept der Idee hatten wir uns im November 2012 bei
      %em
        %a{ href: "http://stadtlandcode.de", title: "Stadt Land <Code>" } Stadt Land &lt;Code&gt;
      beworben. Dieser von der
      %em
        %a{ href: "http://okfn.de", title: "Open Knowledge Foundation Deutschland" } Open Knowledge Foundation
      ausgerichtete Wettbewerb fokussierte die Entwicklung von hilfreichen digitalen, urbanen Werkzeugen. Wir wurden als förderungswertes Projekt ausgewählt und in den folgenden Monaten begleitet. Dazu zählte beispielsweise die Einladung, unser Projekt auf der
      %em
        %a{ href: "http://13.re-publica.de", title: "re:publica 2013" } re:publica 2013
      zu präsentieren.
    %p
      Gemeinsam mit dem
      %em
        %a{ href: "http://www.solidarische-landwirtschaft.org", title: "Netzwerk Solidarische Landwirtschaft" } Netzwerk Solidarische Landwirtschaft
      werben für unsere Webseite, damit sich neue Gruppen und Bauernhöfe auf der Karte eintragen können.
    %p
      Zusammen mit
      %em
        %a{ href: "http://freiräume.org", title: "frei-räume" } frei-räume
      haben wir in der Findungsphase des Projekts Ideen entwickelt und über den Bedarf der Gruppen und Bauernhöfe gesprochen.
