<h3 class="title"><%= name %></h3>
<span class="city"><%= city %></span>
<% if (type == "Farm") { %>
<em> – Solidarische Landwirtschaft seit <%= Backbone.Form.editors.Date.monthNames[founded_at_month - 1] %> <%= founded_at_year %></em>
<% } %>

<dl class="tabs">
  <dd class="active">
    <a href="#info" id="info-tab">Allgemeines</a>
  </dd>

  <% if (type == "Farm") { %>
    <dd>
      <a href="#membership" id="membership-tab">Mitgliedschaft</a>
    </dd>
  <% } %>

  <dd>
    <a href="#contact" id="contact-tab">Kontakt aufnehmen</a>
  </dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="info">

    <div class="membership-info">
      <% if (accepts_new_members == "yes") { %>
        <em>Wir nehmen neue Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "no") { %>
        <em>Wir nehmen derzeit keine neuen Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "waitlist") { %>
        <em>Wir nehmen neue Mitglieder auf! (Warteliste)</em>
      <% } %>
      <% if (type == "Farm") { %>
        <a class="call-to-action" href="#">Informationen zur Mitgliedschaft</a>
      <% } %>
    </div>

    <p><%= description %></p>

    <% if (type == "Farm") { %>

      <h4>Produkte</h4>
      <ul>
      <% _.each(products, function(product) { %>
          <% translatedProduct = translate(product, Teikei.labels.products) %>
          <% if (translatedProduct !== undefined) { %>
            <li class="<%= product %>"><%= translatedProduct.label %></li>
          <% } %>
      <%  }) %>
      </ul>

      <h4>Anbaumethode</h4>
      <ul>
        <li>
          <% if (farming_standard === undefined) { %>
            Information nicht vorhanden
          <% } else { %>
            <% translatedFarmingStandard = translate(farming_standard, Teikei.labels.farming_standards) %>
            <% if (translatedFarmingStandard !== undefined) { %>
              <%= translatedFarmingStandard.label%>
            <% } %>
          <% } %>
        </li>
      </ul>

      <% if (places.length > 0) { %>
        <hr/>
        <h4>Verknüpfte Gruppen oder andere Höfe</h4>
        <ul>
          <% _.each(places, function(item) { p = item.place; %>
            <% if (p.type == "Depot") { %>
              <li class="depot">
            <% } if (p.type == "Farm") { %>
              <li class="farm">
            <% } %>
            <a href="#places/<%= p.id %>/details" title="<%= p.name %>"><%= p.name %></a></li>
          <% }); %>
        </ul>
      <% } %>

    <% } %>


    <% if (type == "Depot") { %>
      <% hasFarm = false %>
      <% places.every(function(item) { %>
        <% if (item.place.type == "Farm") { hasFarm = true; return; }%>
      <% }); %>

      <% if (hasFarm) { %>
        <hr/>
        <h4>Produkte</h4>
        <% _.each(places, function(item) { p = item.place; %>
          <ul>
          <% if (p.type == "Farm" && p.products !== undefined && p.products.length > 0) { %>
            <% translatedProducts = translate(p.products, Teikei.labels.products); %>
            <% if (translatedProducts.length > 0) { %>
              <li><%= translatedProducts.join(", ") %>
              (<a href="#places/<%= p.id %>/details" title="<%= p.name %>"><%= p.name %></a>)</li>
            <% } %>
          <% } %>
          </ul>
        <% }); %>
      <% } %>
    <% } %>
  </li>

  <% if (type == "Farm") { %>
    <li id="membership">
          <div class="membership-info">
      <% if (accepts_new_members == "yes") { %>
        <em>Wir nehmen neue Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "no") { %>
        <em>Wir nehmen derzeit keine neuen Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "waitlist") { %>
        <em>Wir nehmen neue Mitglieder auf! (Warteliste)</em>
      <% } %>
    </div>
      <h4>Mitgliederbeteiligung</h4>
      <p><%= participation %></p>

      <h4>Maximale Mitgliederzahl:</h4>
      <ul><li><%= maximum_members %></li></ul>
    </li>
  <% } %>

  <li id="contact">
    <div class="membership-info">
      <% if (accepts_new_members == "yes") { %>
        <em>Wir nehmen neue Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "no") { %>
        <em>Wir nehmen derzeit keine neuen Mitglieder auf!</em>
      <% } %>
      <% if (accepts_new_members == "waitlist") { %>
        <em>Wir nehmen neue Mitglieder auf! (Warteliste)</em>
      <% } %>
      <% if (type == "Farm") { %>
        <a class="call-to-action" href="#">Informationen zur Mitgliedschaft</a>
      <% } %>
    </div>

    <h4 style="display:none">Kontakt</h4>
    <strong><%= contact_name %></strong>
    <div>Telefon: <%= contact_phone %></div>
    <br />
    <div id="place-message-form-container"></div>
  </li>
</ul>

<hr/>

<p>Letzte Aktualisierung: <%= timeago(updated_at) %></p>
