<div class="details">

  <h3><%= name %></h3>

  <dl class="tabs">
    <dd class="active">
      <a href="#info" id="info-tab">Informationen</a>
    </dd>
    <dd>
      <a href="#contact" id="contact-tab">Kontakt aufnehmen</a>
    </dd>
  </dl>

  <ul class="tabs-content">
    <li class="active" id="info">

      <div>Solidarische Landwirtschaft seit <%= founded_at_month %> <%= founded_at_year %></div>
      <hr/>
      <% if (accepts_new_members) { %>
         <em>Wir nehmen neue Mitglieder auf!</em>
      <% } else { %>
         <em>Wir nehmen neue Mitglieder auf!</em>
      <% } %>
      <hr/>
      <p><%= description %></p>

      <% if (type == "Farm") { %>

        <h4>Mitgliederbeteiligung</h4>
        <p><%= participation %></p>

        <p><strong>Anzahl der Ernteanteile: </strong><%= maximum_members %></p>

        <p><strong>Produkte: </strong><%= products %></p>

      <% } %>
    </li>
    <li id="contact">
      <h4>Kontakt</h4>
      <div>Ansprechpartner: <%= contact_name %></div>
      <div>Telefon: <%= contact_phone %></div>
      <a href="#">Email an <%= contact_name %></a>
    </li>
  </ul>

</div>
