<div class="details">

  <h3><%= name %></h3>
  <div><%= type %></div>
  <div><%= contact_email %></div>
  <div><%= contact_name %></div>
  <div><%= contact_phone %></div>
  <div><%= description %></div>
  <div><%= is_established %></div>
  <div><%= founded_at %></div>
  <div><%= accepts_new_members %></div>
  <div><%= maximum_members %></div>
  <div><%= places %></div>
  <div><%= participation %></div>
  <div><%= products %></div>
  <div><%= user_id %></div>

</div>
