<div class="container">
  <article>
    <header>
      <h1 class="title"><%= name %></h1>
      <%= JST["places/details/_membershipInfo"]({place: obj}) %>

      <% if (ownedByCurrentUser()) {  %>
        <button href="places/<%= id %>/edit" title="Eintrag editieren" id="edit-place" class="button edit">Editieren</button>
      <% } %>

    </header>

    <span class="city"><%= city %></span>

    <%
    if (type === "Farm") {
    var temporalConnectionWord = temporalConnectionWord(founded_at_year, founded_at_month - 1);
    var foundedAtMonth = Backbone.Form.editors.Date.monthNames[founded_at_month - 1];
    %>
    | Solidarische Landwirtschaft <%= temporalConnectionWord %> <%= foundedAtMonth %> <%= founded_at_year %>
    <% } %>

    <div>
      <dl class="tabs">
        <dd>
        <a href="#info" id="info-tab" class="active">Allgemeine Informationen</a>
        </dd>

        <% if (type === "Farm") { %>
        <dd>
        <a href="#membership" id="membership-tab">Mitgliedschaft</a>
        </dd>
        <% } %>

        <dd>
        <a href="#contact" id="contact-tab">Kontakt aufnehmen</a>
        </dd>
      </dl>

      <ul class="tabs-content">
        <!-- INFO -->
        <li class="tab-content active" id="info">

          <% if (type === "Farm") { %>
            <img class="profile-picture" src="/assets/placeimage-placeholder.png"/>
          <% } %>

          <p><%= description %></p>

          <%= JST["places/details/_" + type.toLowerCase() + "Description"](obj) %>

        </li>

        <!-- MEMBERSHIP -->
        <% if (type === "Farm") { %>
        <li class="tab-content" id="membership">
          <h4>Mitgliederbeteiligung</h4>
          <p><%= participation %></p>

          <h4>Maximale Mitgliederzahl:</h4>
          <ul><li><%= maximum_members %></li></ul>
        </li>
        <% } %>

        <!-- CONTACT -->
        <li class="tab-content" id="contact">
        <h4>Kontakt</h4>
        <strong><%= getContactName() %></strong>
        <div><%= getContactPhone() %></div>
        <% if (url) { %>
        <div>Website: <a href="<%= url %>" target="_blank"><%= url %></a></div>
        <% } %>
        <div id="place-message-form-container"></div>
        </li>
      </ul>

    </div>

    <footer>
      Letzte Aktualisierung: <%= timeago(updated_at) %>
    </footer>

    <a class="close-reveal-modal">×</a>

  </article>
</div>
