<article class="map-popup">
  <h3><%= name %></h3>
  <em><%= city %></em>

  <p>
  <% if (vegetable_products && vegetable_products !== undefined && vegetable_products !== null) { %>
    <% translatedProducts = Teikei.Util.translate(vegetable_products, Teikei.labels.vegetable_products) %>
    <% if (translatedProducts.length > 0) { %>
      <%= translatedProducts.join(", ") %>
    <% } %>
  <% } %>
  </p>
  <p>
  <% if (animal_products && animal_products !== undefined && animal_products !== null) { %>
    <% translatedProducts = Teikei.Util.translate(animal_products, Teikei.labels.animal_products) %>
    <% if (translatedProducts.length > 0) { %>
      <%= translatedProducts.join(", ") %>
    <% } %>
  <% } %>
  </p>
  <p>
  <% if (beverages && beverages !== undefined && beverages !== null) { %>
    <% translatedProducts = Teikei.Util.translate(beverages, Teikei.labels.beverages) %>
    <% if (translatedProducts.length > 0) { %>
      <%= translatedProducts.join(", ") %>
    <% } %>
  <% } %>
  </p>

  <button class="button small details" title="Öffnet die Details dieses Eintrags">Details</button>
  <button class="button small network" title="Visualisiert verbundene Höfe und Gruppen">Netzwerk anzeigen</button>

</article>
