<% var farms = placesFilteredByType(places, "Farm"); %>
<% if (farms.length > 0) { %>
<h4>Produkte</h4>
<ul>
    <% _.each(farms, function(farm) { %>
    <li>
        <%= translatedProducts(farm) %>
        (<a href="#places/<%= farm.id %>/details" title="<%= farm.name %>"><%= farm.name %></a>)
    </li>
    <% }); %>
</ul>
<% } %>
<% if (delivery_days) { %>
<h4>Abholtage</h4>
<p><%= delivery_days %></p>
<% } %>
