%nav.top-bar
  %ul
    %li.name
      %h1.brand= link_to "Teikei", root_path
    %li.toggle-topbar
      %a
  %section
    - if user_signed_in?
      %ul.left
        %li
          = link_to "Höfe", farms_path
    %ul.right#user
      - if user_signed_in?
        %li
          = link_to 'Abmelden', destroy_user_session_path, :method=>'delete'
      - else
        %li
          = link_to 'Anmelden', new_user_session_path, :id=>'login'
      - if user_signed_in?
        %li
          = link_to 'Konto anpassen', edit_user_registration_path
        - if current_user.has_role? :admin
          %li
            = link_to 'Admin', users_path
      - else
        %li
          = link_to t(".sign_in", :default => "Registrieren"), new_user_registration_path

