!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t("application_name_title", default: "APPLICATION NAME")
      %meta{content: content_for?(:description) ? yield(:description) : t("meta_description", default: "META DESCRIPTION"), name: "description"}
        = csrf_meta_tags
        = yield(:head)
        = stylesheet_link_tag "application", :media => "all"
  %body{:class => "#{controller_name} #{action_name}"}
    %header.container
      = yield :header
    #main.container{:role => "main"}
      = render 'layouts/messages'
      = yield

    = javascript_include_tag "application"
    = yield :javascript
