<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
    <%= t('application_name_title', default: 'APPLICATION NAME') %>
  </title>
  <meta content="<%= t('meta_description', default: 'META DESCRIPTION') %>" name="description">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <% unless Rails.env.development? %>
      <%= stylesheet_link_tag 'app', media: 'all' %>
  <% end %>
  <%= yield :head %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<header class="site-header">
  <div class="container">
    <%= render 'shared/header' %>
    <%= yield :hero %>
  </div>
</header>
<%= render 'shared/messages' %>
<%= yield %>

<%= render 'shared/navigation' %>

<% if content_for? :footer %>
    <%= yield :footer %>
<% else %>
    <div class="container">
      <footer class="page-footer">
        <%= "© 2012-#{Time.now.year}" %> - ernte-teilen.org <%= render 'shared/footer' %>
      </footer>
    </div>
<% end %>

<%= javascript_include_tag 'application' %>
<%= yield :javascript %>
<% if Rails.env.development? %>
    <%= javascript_include_tag '/static/js/app.js' %>
<% else %>
    <%= javascript_include_tag 'app' %>
<% end %>

</body>
</html>
